.album {
    display: flex;
    flex-direction: column;
    background:linear-gradient(0deg, rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url('../../assets/images/hero-shows.jpg');
    background-position: center;
    background-size: cover;
    height: 60vw;
    padding: 2rem 5vw;

    &__header, &__subheader {
        color: #FFFFFF;
    }

    &__song {
        width: 90vw;
        height: 30vw;
    }
}