.hero {
    display: flex;
    align-items: center;
    background:linear-gradient(0deg, rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url('../../assets/images/hero-bio.jpg');
    background-position: center;
    background-size: cover;
    height: 60vw;
    padding: 0 5vw;

    &__header {
        color: #FFFFFF;
    }

    @media (min-width: 768px) {
        padding: 0 5vw;
    }

    @media (min-width: 1280px) {
        height: 95vh;
        padding-left: 10vw;
    }
}
