.navigation {
    background-color: #323232;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__logo {
        padding-top: 1rem;
        padding-bottom: 0.25rem;
        height: 20px;
        width: 120px;
    }

    &__links {
        width: 100%;
        display: flex;
        list-style-type: none;
    }

    &__link-container {
        display: flex;
        justify-content: center;
        width: 50%;
        padding-bottom: 1.5vw;
    }

    &__link-container:hover {
        border-bottom: 0.2rem solid #FFFFFF;
    }

    &__link-container--active {
        border-bottom: 0.2rem solid #FFFFFF;
    }

    &__link {
        font-size: 0.813rem;
        font-weight: 400;
        text-decoration: none;
        color: #AFAFAF;
    }


    &__link--active {
        font-weight: 600;
        color: #FFFFFF;
    }

    @media (min-width: 768px) {
        flex-direction: row;
        &__logo {
            font-size: 1.5rem;
            padding: 1.5rem 0;
            padding-left: 5vw;
            padding-right: 4rem;
        }

        &__links {
            width: auto;
            align-self: flex-end;
            height: 100%;
        }
        &__link-container {
            margin-right: 3rem;
            padding-bottom: 1.8rem;
            align-items: baseline;
        }
        &__link {
            font-size: 0.875rem;
        }
    }

    @media(min-width: 1280px) {
        &__logo {
            padding-left: 10vw;
        }
    }
}